.notepad {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000000; 
  border-radius: 10px;
  width: 400px;
  padding: 10px 15px 40px 15px;
  margin-top: 50px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12);
}

.notepad__sheet {
  display: flex;
  flex-direction: column;
  gap: 35px;
} 

.sheet__holes {
  display: flex; 
  gap: 25px;
}

.hole {
  border: 1px solid #000000; 
  border-radius: 100%; 
  height: 20px;
  width: 20px;
}

.sheet__lines {
  display: flex;
  flex-direction: column;
  gap: 8px
}

.line__text {
  display: flex;
  gap: 10px;
}

/* Várias adições no checkbox para ajeitar o tamanho dele em diferentes */
.line__text input[type = 'checkbox'] {
  accent-color: black;
  width: 20px;
  -ms-transform: scale(1.2); 
  -moz-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  -o-transform: scale(1.2); 
  transform: scale(1.2);
  cursor: pointer;
}

.line p {
  font-size: 23px;
  font-family: "Dancing Script", cursive;
  max-width: 600px;
}

.line hr {
  margin: 0;
}
